@model IEnumerable<FootballApiProject.Models.DTO_s.LeaguesDto.LeagueDto>

<h2>Leagues</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Season</th>
            <th>Logo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var league in Model)
        {
            <tr>
                <td>@Html.ActionLink(league.Name, "Details", new { id = league.LeagueId })</td>
                <td>@league.Country</td>
                <td>@league.Season</td>
                <td><img src="@league.LogoPath" alt="League Logo" width="100" /></td>
            </tr>
        }
    </tbody>
</table>
